*,*::before,*::after{
  box-sizing: border-box;
}

.flex{
	display: flex;
	flex-direction: column; 
	margin: 0 auto;
}

.flex-iten{
  background-color: white;
  color: #333;

  //line-height: 1.5em;
  width: 100%;
  margin-bottom: 1em;
}

@media (min-width: 700px) and (orientation: landscape) {
.flex{
	flex-direction: row;
  justify-content: space-between; 
}
.flex-iten {
	width: 50%;
}
.flex-iten:not(.flex-iten:last-child) {
  margin-right: 1em;
}
}